body
    background #ccc
    padding: 10px

#main
#selected-items
#form-items
    padding: 10px
    background: white
    border-radius: 5px
    -webkit-animation: abs(2)
#form-items
    margin-top 10px

+mobile()
        /* background: red */
.fono
    >div
        display: block