body
    background #ccc
    padding: 10px

#main
    padding: 10px
    background: white
    border-radius: 5px
    -webkit-animation: abs(2)

#selected-items
    background white
    padding 5px
    border-radius: 5px
    +mobile()
        /* background: red */
.fono
    >div
        display: block