{
    "presets": [
      ["@babel/env", {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }]
    ],
    //"plugins": ["transform-runtime", "syntax-dynamic-import"]
    "plugins": ["transform-async-to-generator"]
  }