/* @import 'material-icons/iconfont/material-icons.scss'; */
body {
  background: #ccc;
  padding: 10px;
}
#main,
#selected-items,
#form-items {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-animation: 2;
}
#form-items {
  margin-top: 10px;
}
.fono >div {
  display: block;
}
