body {
  background: #ccc;
  padding: 10px;
}
#main,
#selected-items,
#form-items {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-animation: 2;
}
#form-items {
  margin-top: 10px;
}
#form-items .dynamic-items .item .clone-item {
  display: none;
}
#form-items .dynamic-items .item .clone-item.active {
  display: block;
}
#form-items .dynamic-items .item {
  border: 2px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
.fono >div {
  display: block;
}
/* @import 'material-icons/iconfont/material-icons.scss'; */
